*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Sono', sans-serif;
	text-decoration: none;
	list-style: none;
}
body{
	background: #ffffff;
}

.container {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 50px;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3%;
    font-size: 3em;
}

.people {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 30px;
}

.people-text {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.photo {
	display: flex;
	flex-direction: column;
}

.portada > p {
	text-align: center;
}

.portada {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.introduccion {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 100px;
	gap: 20px;
}

.introduccion > p {
	text-align: justify;
}

ul {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 50px;
}

ul > li {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 50%;
}

ul > li > details {
	padding: 15px;
	border: 1px solid gray;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: auto;
}

ul > li > details > p, ul > li > details[open] > summary {
	margin-bottom: 10px;
}

ul > li > details > p > span {
	font-weight: bold;
}

ul > li > details:hover {
	background: #202020;
	color: white;
	transition: 1s all;
}

ul > li > details:hover > summary > i {
	transform: rotate(90deg);
	transition: .5s all;
}

/* sono-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Sono';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/sono-v1-latin-regular.eot'); /* IE9 Compat Modes */
	src: url('../fonts/sono-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/sono-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/sono-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/sono-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/sono-v1-latin-regular.svg#Sono') format('svg'); /* Legacy iOS */
  }