*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Sono', sans-serif;
	text-decoration: none;
	list-style: none;
}
body{
	background: #ffffff;
}

.container {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 50px;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3%;
    font-size: 3em;
}

.people {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 30px;
}

.people-text {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.photo {
	display: flex;
	flex-direction: column;
}

.portada > p {
	text-align: center;
}

.portada {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.introduccion {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 100px;
	gap: 20px;
}

.introduccion > p {
	text-align: justify;
}

ul {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 50px;
}

ul > li > a {
	padding: 10px;
	border: 1px solid #000000;
	border-radius: 5px;

}